.footer-aside {
  margin-left: 93px;
}
.footer-btn {
  color: var(--main-background);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-wrap {
  display: flex;
  margin-top: 20px;
}
.footer-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border-radius: 4px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.footer-button {
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--main-background);
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: transparent;
}
.footer-button:hover,
.footer-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-email {
  margin-left: auto;
}
.footer-form-icon {
  margin-left: 10px;
}
