.heading {
  background-color: #2f303a;
}
.hero {
  height: 600px;
  outline: 1px solid black;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/Img4.1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__titele {
  color: var(--main-background);
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  margin: 0;
  padding-top: 200px;
}