.section-desc {
  padding-top: 0px;
}
.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  background-color: #ffffff;
  width: 1170px;
  text-align: center;
  margin-bottom: 50px;
}
.sample__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.sample__item {
  position: relative;
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
  max-width: 100%;
  height: auto;
}
.sample__subtitle {
  position: absolute;
  bottom: 0;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
}
